.container-info {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  align-items: center;
}

.container-info .review-preview {
  flex: 0 0 65%; /* chiếm 70% */
}

.container-info .keywords {
  flex: 0 0 33%; /* chiếm 30% */
}
