.review-preview {
  margin: 30px 0;
  background: #111;
  padding: 20px;
  /* border-radius: 10px; */
}

.review-preview h2 {
  color: #f1f1f1;
  margin-bottom: 15px;
}

.review-card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 8px;
}

.review-card h4 {
  margin: 0 0 10px;
  color: #fff;
}

.review-content {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

.read-more {
  color: #00b4d8;
  text-decoration: none;
  font-size: 14px;
}

.read-more:hover {
  text-decoration: underline;
}
