.homepage {
  padding: 20px;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}
.homepage h1 {
  margin-bottom: 20px;
}
.container-trending-Option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}
.container-trending-Option .trending-option-btn{
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 5px;
  border: solid 1px ;
  border-radius: 50px;
}
.trending-option-btn button{
  width: 100px;
  border-radius: 50px;
  padding: 8px 12px;
  border: none;
}
.trending-option-btn button:hover {
  background: #ddd;
}

.trending-option-btn button.active {
  background: red;   /* background đỏ */
  color: white;      /* chữ trắng */
}